# Ignore configuration files that may contain sensitive information.
# sites/*/*settings*.php
# sites/default/settings.php
# sites/default/yak.yak.settings.php
# sites/default/m.yak.yak/settings.php
# sites/default/w.yak.yak/settings.php

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private
